/*Posicionamento de colunas*/
#conteudo{
    margin-top: 60px;
    float: left;
}

/*tres-colunas*/#primario{
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#duas-colunas #primario{
    width: 555px;
}

#uma-coluna #primario{
    width: 750px;
    margin: 0 0 20px 0;
}

/*Dimenções e posição da coluna secundaria*/
#secundario{
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

/*Dimenções e posição da coluna de navegação lateral*/
#navegacao-lateral{
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

/*Propriedades das caixas de conteudo*/
.caixa{
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    margin: 10px 0;
    padding: 5px 0 5px 0;
}

h2{
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.caixa-conteudo{
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*Navegação lateral: Entrevistas*/
#navegacao-lateral li a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 0.9em;
    padding: 3px;
    line-height: 30px;
    border-bottom: 1px solid #f3f3f3;
}

#navegacao-lateral a:hover{
    background: url(../imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: gray;
}

/*Navegaçaõ lateral: Cadastro de e-mail*/
label{
    display: block;
    cursor: pointer;
}

input{
    padding: 5px;
    width: 125px;
    font-size: 0.9em;
    background: #fff;
    margin-bottom: 5px;
}

input.submit{
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}

/*Imagens*/
img{
    border: 2px solid #dfdfdf ;
}

img.imagem-principal{
    width: 98%;
    border: 3px solid #dfdfdf ;
}

/*Cabeçalhos*/
h3{
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3{
    background: #b10333;
    color: #fff;
}

.entrevista h3{
    background: #de003e;
    
}

/*Listas noticias*/

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 72px;
}

#lista-noticias li a img{
    float: left;
    margin: 5px;
}

#lista-noticias li a{
    text-decoration: none;
}

#lista-noticias li a p{
    font-size: 0.8em;
    color: black;
}
#lista-noticias li a h3{
    font-size: 0.8em;
    padding: none;
    color: #3e7ab9;
}

#lista-noticias li:hover{
    background: #eee;
    cursor: pointer;
}