/*Resetando as configs de css do documento*/
*{
    margin: 0;
    padding: 0;
}

/*Definindo fonte e background*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

/*Definindo o posicionamento dos conteúdos de maneira fixa*/
#container{
    width: 750px;
    margin: 0 auto;
}

#header{
    height: 150px;
    padding-top: 25px;
    background: url(../imagens/detalhe-topo.png) no-repeat top right;
}

.logo{
    width: 152px;
    height: 66px;
    background: url(../imagens/logo.png) no-repeat;
    text-indent: -3000px;
}


ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#header ul{
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#header ul li{
    float: left;
}

#header ul li a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(../imagens/divisor.png) repeat-y;
}

#header ul .primeiro a{
    background: none;
}
 
#header ul a:hover{
    color: #69001d;
}

body.home #navegacao-header a#home{
    color: #fff;
    background: #de003e;
}