@import url(./header.css);
@import url(./colunas-conteudo.css);

/*Resetando as propriedades de css do documento*/
*{
    margin: 0;
    padding: 0;
}

/*Definindo fonte e background*/
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../imagens/fundo.png) repeat-x;
}

/*Definindo o posicionamento dos conteúdos de maneira fixa*/
#container{
    width: 750px;
    margin: 0 auto;
}

/*Propriedaddes do footer*/
#footer{
    background: #294c71;
    padding: 20px;
}

#footer-container{
    width: 750px;
    margin: 0 auto;
    color: #fff;

}

